## AIM

With this notebook, I want to check the initial ICR for [race](https://docs.google.com/spreadsheets/d/1Fe_w078ZxqOV8HxmjuqJav5ff-PM4bElJr9CgSwZHHw/edit#gid=2069713019).

In [33]:
import pandas as pd
import krippendorff
import numpy as np

In [34]:
df = pd.read_csv('../data/race-icr-redo-2022-09-23.csv')

In [35]:
df.apply(pd.unique)

haley       [3, 0, 2, 1, 4]
michelle    [3, 0, 2, 1, 4]
jeff        [3, 0, 2, 5, 1]
jaemin      [3, 0, 2, 1, 4]
jongmin     [3, 0, 2, 1, 4]
matthew        [3, 0, 2, 1]
dtype: object

In [36]:
haley = df.haley.tolist()
michelle = df.michelle.tolist()
jeff = df.jeff.tolist()
jaemin = df.jaemin.tolist()
matthew = df.matthew.tolist()
jongmin = df.jongmin.tolist()

In [37]:
len(haley), len(michelle), len(jeff), len(jaemin), len(matthew), len(jongmin)

(100, 100, 100, 100, 100, 100)

In [38]:
krippendorff.alpha(reliability_data=[haley, michelle, jeff, jaemin, matthew, jongmin],
                   level_of_measurement = 'nominal'
                  )

0.9099318662385465

In [39]:
df['Same'] = df.apply(lambda row: len(np.unique(row)) == 1, axis=1)
df

    haley  michelle  jeff  jaemin  jongmin  matthew   Same
0       3         3     3       3        3        3   True
1       0         0     0       0        0        0   True
2       0         0     0       0        0        0   True
3       0         0     0       0        0        0   True
4       0         0     0       0        0        2  False
..    ...       ...   ...     ...      ...      ...    ...
95      4         4     0       4        4        2  False
96      0         0     0       0        0        0   True
97      0         0     0       0        0        0   True
98      0         0     0       0        0        0   True
99      0         0     0       0        0        0   True

[100 rows x 7 columns]

In [40]:
df.to_csv('../data/initial_race_irc_agg_results_2022-09-23.csv', index=True)