## Aim

In this notebook, I evenly and randomly splited the race and gender coding task.

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('../../data/processed/authors_to_study.csv')
df['gender_prediction'] = np.nan
df['race_prediction'] = np.nan

In [18]:
df.shape

(11304, 41)

### To check the completedness of names

In [19]:
df[df['authorFullName'].isnull()]

Empty DataFrame
Columns: [authorID, doi, url, year, title, journal, numberOfAuthors, authorPosition, authorFullName, firstName, lastName, affiliation, gscholarLink, googleSearch, genderize, genderize_prob, genderize_basedon, genderAccuracy, authorFullName.1, firstName.1, lastName.1, affiliation.1, gscholarLink.1, googleSearch.1, race, racePredAccuracy, api, black, hispanic, white, raceHighest, raceSecondHighest, raceDiff, affProcessed, affiliation.2, ROR_AFFNAME, matchMethod, ROR_ID, type, gender_prediction, race_prediction]
Index: []

[0 rows x 41 columns]

In [20]:
df[df['firstName'].isnull()]

,authorID,doi,url,year,title,journal,numberOfAuthors,authorPosition,authorFullName,firstName,...,raceSecondHighest,raceDiff,affProcessed,affiliation.2,ROR_AFFNAME,matchMethod,ROR_ID,type,gender_prediction,race_prediction
3612,10.1111/j.1460-2466.1980.tb02015.x+2.0,10.1111/j.1460-2466.1980.tb02015.x,https://academic.oup.com/joc/article/30/4/50/4...,1980,Programming for Development in Indonesia,Journal of Communication,2.0,2.0,Alfian,NaN,...,0.220853,0.463161,national institute of economic and social rese...,2 National Institute of Economic and Social Re...,National Institute of Economic and Social Rese...,Exact,https://ror.org/048m81442,R,NaN,NaN

In [21]:
df[df['lastName'].isnull()]

Empty DataFrame
Columns: [authorID, doi, url, year, title, journal, numberOfAuthors, authorPosition, authorFullName, firstName, lastName, affiliation, gscholarLink, googleSearch, genderize, genderize_prob, genderize_basedon, genderAccuracy, authorFullName.1, firstName.1, lastName.1, affiliation.1, gscholarLink.1, googleSearch.1, race, racePredAccuracy, api, black, hispanic, white, raceHighest, raceSecondHighest, raceDiff, affProcessed, affiliation.2, ROR_AFFNAME, matchMethod, ROR_ID, type, gender_prediction, race_prediction]
Index: []

[0 rows x 41 columns]

In [22]:
df[df['affiliation.2'].isnull()]

Empty DataFrame
Columns: [authorID, doi, url, year, title, journal, numberOfAuthors, authorPosition, authorFullName, firstName, lastName, affiliation, gscholarLink, googleSearch, genderize, genderize_prob, genderize_basedon, genderAccuracy, authorFullName.1, firstName.1, lastName.1, affiliation.1, gscholarLink.1, googleSearch.1, race, racePredAccuracy, api, black, hispanic, white, raceHighest, raceSecondHighest, raceDiff, affProcessed, affiliation.2, ROR_AFFNAME, matchMethod, ROR_ID, type, gender_prediction, race_prediction]
Index: []

[0 rows x 41 columns]

### Year 2000

In [23]:
df[df.year >= 2000].shape

(7083, 41)

### Shuffle

In [24]:
shuffled = df.sample(frac = 1, random_state = 200)
results = np.array_split(shuffled, 6)

In [25]:
results[0].index

Int64Index([10451,  7558,  3436,  9071,  8630,  2892,  9507,  5125,  8674,
             4625,
            ...
             1616,  6606,  4847,  5997,  1478,  1731,  8855,  6218,  1717,
             4649],
           dtype='int64', length=1884)

Int64Index([10451,  7558,  3436,  9071,  8630,  2892,  9507,  5125,  8674,
             4625,
            ...
             1616,  6606,  4847,  5997,  1478,  1731,  8855,  6218,  1717,
             4649],
           dtype='int64', length=1884)

In [26]:
results[5].index

Int64Index([ 9235,  1464, 10535,  7122,  6378,  8444,   277,   724,  8364,
             2792,
            ...
             5633,  7210,   902, 10379,  7769,  8377,  9036, 11050,   784,
             1818],
           dtype='int64', length=1884)

Int64Index([ 9235,  1464, 10535,  7122,  6378,  8444,   277,   724,  8364,
             2792,
            ...
             5633,  7210,   902, 10379,  7769,  8377,  9036, 11050,   784,
             1818],
           dtype='int64', length=1884)

In [27]:
for i in range(5):
    print(results[i].shape)

(1884, 41)
(1884, 41)
(1884, 41)
(1884, 41)
(1884, 41)

In [28]:
# sort by year
for i in results:
    i.sort_values(by='year', ascending=False, inplace=True)

In [29]:
coder_names = ['haley', 'michelle', 'jeff', 'jongmin', 'jaemin', 'matthew']

In [30]:
for i in range(len(coder_names)):
    results[i].to_csv(f'../../data/interim/gender_race_coding_task/{coder_names[i]}.csv', index=True)