In [55]:
import pandas as pd
import krippendorff
import numpy as np

In [56]:
df1 = pd.read_csv('j_m_gender_results.csv')
df1.replace(['female', 'male'], ['f', 'm'], inplace=True)
df1['jongmin_new'] = np.where(df1.jongmin.isnull(), df1.genderize, df1.jongmin)
df1['matthew_new']= np.where(df1.matthew.isnull(), df1.genderize, df1.matthew)
df1['jongmin_new'] = [i.lower() for i in df1['jongmin_new']]
df1['matthew_new'] = [i.lower() for i in df1['matthew_new']]
df1 = df1[['jongmin_new', 'matthew_new']]
df1.replace(['99', 'f', 'm'], [0,1,2], inplace=True)
df1.sample(10)

     jongmin_new  matthew_new
178            0            0
127            2            2
41             2            2
199            2            2
107            1            1
194            2            2
147            1            1
96             1            1
136            2            2
43             1            1

In [57]:
jongmin = df1.jongmin_new
matthew = df1.matthew_new

In [58]:
df = pd.read_csv('gender.txt', header=None)
df.columns = ['cla']
df.cla = [i.lower() for i in df.cla]
df.cla = df.cla.replace(['99', 'f', 'm', 'u -f'], [0,1,2,3])
jaemin = df.iloc[:,0][0:200].tolist()
jeff = df.iloc[:,0][200:400].tolist()
haley = df.iloc[:,0][400:600].tolist()

In [59]:
len(jaemin), len(jeff), len(haley), len(jongmin), len(matthew)

(200, 200, 200, 200, 200)

In [60]:
krippendorff.alpha(reliability_data=[jaemin, jeff, haley, jongmin, matthew])

0.5511565664373502

In [61]:
dff = pd.DataFrame()
dff['jaemin'] = jaemin
dff['jeff'] = jeff
dff['haley'] = haley
dff['jongmin'] = jongmin
dff['matthew'] = matthew
dff.replace([0,1,2,3], ['99', 'F', 'M', 'U -F'], inplace=True)
dff

    jaemin jeff haley jongmin matthew
0        F    F     F       F       F
1        F    F     F       F       F
2        F    F     F       F       F
3        F    F     F       F       F
4        F    F     F       F       F
..     ...  ...   ...     ...     ...
195      F    F     F       F       F
196      F    F     F       F       F
197     99    M     M       M       M
198      M    M     M       M       M
199      M    M     M       M       M

[200 rows x 5 columns]

In [62]:
dff['Same'] = dff.apply(lambda row: len(row.unique()) == 1, axis =1)

In [63]:
dff.to_csv('gender_1st_icr_results_all.csv')