In [52]:
import pandas as pd
import krippendorff
import numpy as np

In [53]:
df = pd.read_csv('gender.txt', header=None)
df.columns = ['cla']
df.cla = [i.lower() for i in df.cla]
df.cla = df.cla.replace(['99', 'f', 'm', 'u -f'], [0,1,2,3])
df

     cla
0      1
1      1
2      1
3      1
4      1
..   ...
595    1
596    1
597    2
598    2
599    2

[600 rows x 1 columns]

In [54]:
jaemin = df.iloc[:,0][0:200].tolist()
jeff = df.iloc[:,0][200:400].tolist()
haley = df.iloc[:,0][400:600].tolist()

In [55]:
len(jaemin), len(jeff), len(haley)

(200, 200, 200)

In [56]:
krippendorff.alpha(reliability_data=[jaemin, jeff, haley])

0.5254760837391533

In [57]:
df = pd.read_csv('gender.txt', header=None)
df.columns = ['cla']
df.cla = [i.upper() for i in df.cla]

In [58]:
dff = pd.DataFrame()
dff['jaemin'] = df.iloc[:,0][0:200].tolist()
dff['jeff'] = df.iloc[:,0][200:400].tolist()
dff['haley'] = df.iloc[:,0][400:600].tolist()

In [59]:
dff['Same'] = np.where((dff.jaemin == dff.jeff) & (dff.jaemin == dff.haley) &  (dff.jeff == dff.haley), True, False)

In [60]:
dff.to_csv('gender_result.csv')