## Aim

This notebook calculates the icr for the first 100 names for race.

In [2]:
import pandas as pd
import krippendorff
import numpy as np

In [7]:
df = pd.read_csv('data/race_100_2022-09-04.csv')
df

    haley  michelle  jongmin jaemin  matthew  jeff
0       2         2        2      2        2     2
1       0         0        0      0        0     0
2       0         0        0      0        0     0
3       0         0        0      0        0     0
4       0         0        0      0        0     0
..    ...       ...      ...    ...      ...   ...
95      0         0        0      0        0     0
96      0         0        0      0        0     0
97      0         0        0      0        0     0
98      0         0        0      0        0     0
99      0         0        0      0        0     0

[100 rows x 6 columns]

In [8]:
df.replace('U', 99, inplace=True)

In [9]:
for col in df.columns.values:
    df[col] = df[col].astype('int64')

In [10]:
df.apply(pd.unique)

haley           [2, 0, 1, 4, 5, 3]
michelle              [2, 0, 1, 3]
jongmin            [2, 0, 1, 4, 3]
jaemin      [2, 0, 1, 99, 3, 4, 5]
matthew            [2, 0, 1, 4, 3]
jeff               [2, 0, 1, 3, 4]
dtype: object

In [11]:
haley = df.haley.tolist()
michelle = df.michelle.tolist()
jeff = df.jeff.tolist()
jaemin = df.jaemin.tolist()
matthew = df.matthew.tolist()
jongmin = df.jongmin.tolist()

In [12]:
len(haley), len(michelle), len(jeff), len(jaemin), len(matthew), len(jongmin)

(100, 100, 100, 100, 100, 100)

In [13]:
krippendorff.alpha(reliability_data=[haley, michelle, jeff, jaemin, matthew, jongmin],
                   level_of_measurement = 'nominal'
                  )

0.8685062871887697

In [14]:
df['Same'] = df.apply(lambda row: len(np.unique(row)) == 1, axis=1)
df

    haley  michelle  jongmin  jaemin  matthew  jeff  Same
0       2         2        2       2        2     2  True
1       0         0        0       0        0     0  True
2       0         0        0       0        0     0  True
3       0         0        0       0        0     0  True
4       0         0        0       0        0     0  True
..    ...       ...      ...     ...      ...   ...   ...
95      0         0        0       0        0     0  True
96      0         0        0       0        0     0  True
97      0         0        0       0        0     0  True
98      0         0        0       0        0     0  True
99      0         0        0       0        0     0  True

[100 rows x 7 columns]

In [15]:
df.to_csv('data/race_first_100_2022-09-04.csv', index=True)