## Aim

In this notebook, I evenly and randomly splited the affiliation task.

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('../../data/processed/authors_to_study.csv')
df['aff_prediction'] = np.nan
df['country_code'] = np.nan
df['aff_type'] = np.nan

In [17]:
df.shape

(11304, 42)

In [18]:
df[df['authorFullName'].isnull()]

Empty DataFrame
Columns: [authorID, doi, url, year, title, journal, numberOfAuthors, authorPosition, authorFullName, firstName, lastName, affiliation, gscholarLink, googleSearch, genderize, genderize_prob, genderize_basedon, genderAccuracy, authorFullName.1, firstName.1, lastName.1, affiliation.1, gscholarLink.1, googleSearch.1, race, racePredAccuracy, api, black, hispanic, white, raceHighest, raceSecondHighest, raceDiff, affProcessed, affiliation.2, ROR_AFFNAME, matchMethod, ROR_ID, type, aff_prediction, country_code, aff_type]
Index: []

[0 rows x 42 columns]

In [19]:
df[df['affiliation.2'].isnull()]

Empty DataFrame
Columns: [authorID, doi, url, year, title, journal, numberOfAuthors, authorPosition, authorFullName, firstName, lastName, affiliation, gscholarLink, googleSearch, genderize, genderize_prob, genderize_basedon, genderAccuracy, authorFullName.1, firstName.1, lastName.1, affiliation.1, gscholarLink.1, googleSearch.1, race, racePredAccuracy, api, black, hispanic, white, raceHighest, raceSecondHighest, raceDiff, affProcessed, affiliation.2, ROR_AFFNAME, matchMethod, ROR_ID, type, aff_prediction, country_code, aff_type]
Index: []

[0 rows x 42 columns]

In [20]:
# d = dict(zip(df['affiliation.2'], df.ROR_AFFNAME))
# len(d.items())
# pd.DataFrame(d.items())

In [21]:
shuffled = df.sample(frac = 1, random_state = 200)
result = np.array_split(shuffled, 2)

In [22]:
result[0].index

Int64Index([10451,  7558,  3436,  9071,  8630,  2892,  9507,  5125,  8674,
             4625,
            ...
             5172,  9189, 10829,  7264,  6186,   173,  1345,  3723,  8064,
             1611],
           dtype='int64', length=5652)

Int64Index([10451,  7558,  3436,  9071,  8630,  2892,  9507,  5125,  8674,
             4625,
            ...
             5172,  9189, 10829,  7264,  6186,   173,  1345,  3723,  8064,
             1611],
           dtype='int64', length=5652)

In [23]:
result[1].index

Int64Index([ 6036,  7977,  5443,  9949,  7489,  1525,  6555,  3621,  1205,
             3101,
            ...
             5633,  7210,   902, 10379,  7769,  8377,  9036, 11050,   784,
             1818],
           dtype='int64', length=5652)

Int64Index([ 6036,  7977,  5443,  9949,  7489,  1525,  6555,  3621,  1205,
             3101,
            ...
             5633,  7210,   902, 10379,  7769,  8377,  9036, 11050,   784,
             1818],
           dtype='int64', length=5652)

In [24]:
result[0].shape, result[1].shape

((5652, 42), (5652, 42))

In [25]:
result[0].to_csv('../../data/interim/aff_task/hongtao.csv')

In [26]:
result[1].to_csv('../../data/interim/aff_task/kristen.csv')