## AIM

With this notebook, I want to check the initial ICR for race. 

Deprecated now since we are going to redo race icr.

In [5]:
import pandas as pd
import krippendorff
import numpy as np

In [6]:
df = pd.read_csv('data/initial_icr_race_09-19.csv')
# df = df.apply(lambda x: x.str.strip())
# df = df.apply(lambda x: x.str.lower())

In [7]:
df.apply(pd.unique)

haley       [0, 2, 3, 1, 4]
michelle    [0, 2, 3, 1, 4]
jeff           [0, 2, 3, 1]
jongmin     [0, 2, 3, 1, 4]
jaemin         [0, 2, 3, 1]
matthew     [0, 2, 3, 1, 4]
dtype: object

In [8]:
# df.replace(['m', 'f', 'nb', 'n'], [0,1,2,2], inplace=True)
# df.replace(['male', 'female'], [0,1], inplace=True)

In [9]:
haley = df.haley.tolist()
michelle = df.michelle.tolist()
jeff = df.jeff.tolist()
jaemin = df.jaemin.tolist()
matthew = df.matthew.tolist()
jongmin = df.jongmin.tolist()

In [10]:
len(haley), len(michelle), len(jeff), len(jaemin), len(matthew), len(jongmin)

(100, 100, 100, 100, 100, 100)

In [11]:
krippendorff.alpha(reliability_data=[haley, michelle, jeff, jaemin, matthew, jongmin],
                   level_of_measurement = 'nominal'
                  )

0.8076456792350712

In [12]:
df['Same'] = df.apply(lambda row: len(np.unique(row)) == 1, axis=1)
df

    haley  michelle  jeff  jongmin  jaemin  matthew   Same
0       0         0     0        0       0        0   True
1       0         0     0        0       0        0   True
2       0         0     0        0       0        0   True
3       0         0     0        0       0        0   True
4       0         0     0        0       0        0   True
..    ...       ...   ...      ...     ...      ...    ...
95      0         0     0        0       0        0   True
96      0         0     0        4       0        0  False
97      0         0     0        0       0        0   True
98      0         0     0        0       0        0   True
99      0         0     0        0       0        0   True

[100 rows x 7 columns]

In [13]:
# df.replace([0,1,2], ['M', 'F', 'N'], inplace=True)
df.to_csv('data/initial_race_results.csv', index=True)