## AIM

With this notebook, I want to check the initial ICR for gender.

In [1]:
import pandas as pd
import krippendorff
import numpy as np

In [2]:
df = pd.read_csv('../data/initial_icr_gender_09-19.csv')
df = df.apply(lambda x: x.str.strip())
df = df.apply(lambda x: x.str.lower())

In [3]:
df.apply(pd.unique)

haley        [m, f, n]
michelle     [m, f, n]
jeff            [m, f]
jongmin         [m, f]
jaemin          [m, f]
matthew     [m, f, nb]
dtype: object

In [4]:
df.replace(['m', 'f', 'nb', 'n'], [0,1,2,2], inplace=True)
df.replace(['male', 'female'], [0,1], inplace=True)

In [5]:
haley = df.haley.tolist()
michelle = df.michelle.tolist()
jeff = df.jeff.tolist()
jaemin = df.jaemin.tolist()
matthew = df.matthew.tolist()
jongmin = df.jongmin.tolist()

In [6]:
len(haley), len(michelle), len(jeff), len(jaemin), len(matthew), len(jongmin)

(100, 100, 100, 100, 100, 100)

In [7]:
krippendorff.alpha(reliability_data=[haley, michelle, jeff, jaemin, matthew, jongmin],
                   level_of_measurement = 'nominal'
                  )

0.942307460781835

In [8]:
df['Same'] = df.apply(lambda row: len(np.unique(row)) == 1, axis=1)
df

    haley  michelle  jeff  jongmin  jaemin  matthew  Same
0       0         0     0        0       0        0  True
1       0         0     0        0       0        0  True
2       0         0     0        0       0        0  True
3       0         0     0        0       0        0  True
4       0         0     0        0       0        0  True
..    ...       ...   ...      ...     ...      ...   ...
95      0         0     0        0       0        0  True
96      0         0     0        0       0        0  True
97      1         1     1        1       1        1  True
98      0         0     0        0       0        0  True
99      0         0     0        0       0        0  True

[100 rows x 7 columns]

In [9]:
df.replace([0,1,2], ['M', 'F', 'N'], inplace=True)
df.to_csv('../data/initial_gender_results.csv', index=True)