In [1]:
import string

In [36]:
# # because I have reversed the name_elements:
# lastname = name_elements[1]
# firstname_elements = name_elements[0].split(' ')
# # if there is only one element in first name:
# if len(firstname_elements) == 1:
#     firstname = firstname_elements[0]
# # if there are two and the first element is something like 'J.'
# #  for example, if the full name is something like 'J. Stephen Read'
# # note that len('J.') == 2
# elif len(firstname_elements) ==  2 and len(firstname_elements[0]) <= 2:
#     firstname = firstname_elements[1]
# elif len(firstname_elements) ==  2 and len(firstname_elements[0]) > 2:
#     firstname = firstname_elements[0]
# else:
#     firstname = np.nan

In [37]:
upper_char = string.ascii_uppercase

In [38]:
lower_char = string.ascii_lowercase

In [39]:
[f'{i}.' for i in upper_char]

['A.',
 'B.',
 'C.',
 'D.',
 'E.',
 'F.',
 'G.',
 'H.',
 'I.',
 'J.',
 'K.',
 'L.',
 'M.',
 'N.',
 'O.',
 'P.',
 'Q.',
 'R.',
 'S.',
 'T.',
 'U.',
 'V.',
 'W.',
 'X.',
 'Y.',
 'Z.']

In [40]:
[f'{i}.' for i in lower_char]

['a.',
 'b.',
 'c.',
 'd.',
 'e.',
 'f.',
 'g.',
 'h.',
 'i.',
 'j.',
 'k.',
 'l.',
 'm.',
 'n.',
 'o.',
 'p.',
 'q.',
 'r.',
 's.',
 't.',
 'u.',
 'v.',
 'w.',
 'x.',
 'y.',
 'z.']

In [41]:
name_elements = 'Middleton, Michael K.'.split(', ')
name_elements

['Middleton', 'Michael K.']

In [42]:
name_elements.reverse()
fullname = ' '.join(name_elements)
fullname

'Michael K. Middleton'

In [45]:
fullname_split = fullname.split(' ')
fullname_split

['Michael', 'K.', 'Middleton']

In [46]:
lastname = fullname_split[-1]
lastname

'Middleton'

In [47]:
if fullname_split:
    if len(fullname_split) == 2:
        firstname = fullname_split[0]
    elif len(fullname_split) > 2 and len(fullname_split[0]) <= 2:
        firstname = fullname_split[1]
    else:
        firstname = fullname_split[0]

In [48]:
firstname

'Michael'