In [51]:
import pandas as pd
import krippendorff
import numpy as np

In [52]:
df = pd.read_csv('data/gener_icr_2022-08-23_full.csv')
df = df.apply(lambda x: x.str.strip())
df = df.apply(lambda x: x.str.lower())

In [53]:
df.apply(pd.unique)

haley                 [m, f]
haleyp                [m, f]
jeff               [m, f, u]
jaemin             [m, f, u]
matthew               [m, f]
jongmin    [male, female, u]
dtype: object

In [54]:
df.replace(['m', 'f', 'u'], [0,1,2], inplace=True)
df.replace(['male', 'female'], [0,1], inplace=True)

In [55]:
haley = df.haley.tolist()
haleyp = df.haleyp.tolist()
jeff = df.jeff.tolist()
jaemin = df.jaemin.tolist()
matthew = df.matthew.tolist()
jongmin = df.jongmin.tolist()

In [56]:
len(haley), len(haleyp), len(jeff), len(jaemin), len(matthew), len(jongmin)

(200, 200, 200, 200, 200, 200)

In [57]:
krippendorff.alpha(reliability_data=[haley, haleyp, jeff, jaemin, matthew, jongmin])

0.8772346309744975

In [58]:
df['Same'] = df.apply(lambda row: len(np.unique(row)) == 1, axis=1)
df

     haley  haleyp  jeff  jaemin  matthew  jongmin   Same
0        0       0     0       0        0        0   True
1        1       1     1       1        1        1   True
2        1       1     1       1        1        1   True
3        0       0     0       0        0        0   True
4        1       1     1       1        1        1   True
..     ...     ...   ...     ...      ...      ...    ...
195      1       1     1       1        1        1   True
196      1       1     1       1        1        1   True
197      0       0     0       2        0        0  False
198      0       0     0       0        0        0   True
199      1       1     1       1        1        1   True

[200 rows x 7 columns]

In [59]:
df.replace([0,1,2], ['M', 'F', 'U'], inplace=True)
df.to_csv('data/gender_compa_results_2022-08-26.csv', index=True)